body
{
    display:flex;
    flex-direction: column;
    margin:0;
    width:100%;
    height:auto;
    font-size:0;
    background-color: rgb(248, 255, 248);
}

@font-face {
    font-family: popins;
    src: url(popins.ttf);
}

@font-face {
    font-family: popins-reg;
    src: url(poppins.regular.ttf);
}

.welcome
{
    display:flex;
    font-size: 55px;
    font-family:popins;
    /* background-size: cover; */
    text-align: center;
    background-image: url(txt-bg2.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    animation: pop 0.5s ease-out , bgchange 4s linear infinite;
    margin:30px auto 0px 20px;
    z-index: 1;
}

.desc
{
    display:flex;
    font-size:25px;
    font-family: popins-reg;
    color:black;
    margin:0px auto 0px 25px;
    position: relative;
    bottom:15px;
    z-index: 0;
    animation: anim 1s ease-out;
}

@keyframes pop 
{
    0%{transform: translateY(-100%); opacity: 0;}
    100%{transform: translateY(0%); opacity: 100%;}    
}

@keyframes anim 
{
    0%{transform: translateY(-100%); opacity: 0;}
    50%{transform: translateY(-100%); opacity: 0;}
    100%{transform: translateY(0%); opacity: 100%;}   
}

.part1 , .part1 div
{
    display:flex;
    flex-direction: column;
    width:100%;
    height: 450px;
    margin:20px 0px 0px 0px;
    background-image: url(3d-ab-nowater.png);
    background-size: cover;
}

.part1 div 
{
    width:300px;
    height:350px;
    margin:auto;
    background-image: none;
    border:6px solid black;
    overflow: hidden;
    cursor: pointer;
}

.part1 div p:nth-child(1) , .part1 div p:nth-child(2)
{
    display:flex;
    font-size:60px;
    font-family: popins;
    color:black;
    margin:20px auto 0px 10px;
    background-image: url(3d-1.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    /* background-size: cover; */
    animation: slatt 1.5s ease-out;
    transition-duration: 0.5s;
}

@keyframes slatt
{
    0% , 75% {transform: translateX(-100%); opacity: 0;}
    100%{transform: translateX(0%); opacity: 100%;}   
}

.part1 div p:nth-child(2)
{
    position: relative;
    bottom:55px;
}

.part1 div p:nth-child(3)
{
    display:flex;
    font-size: 25px;
    font-family: popins-reg;
    color:black;
    margin:50px auto 0px auto;
    animation: slatt 1.5s ease-out;
    transition-duration: 0.5s;
}

.cont
{
    display:flex;
    font-size: 25px;
    font-family: popins-reg;
    color:rgb(0, 0, 0);
    margin:0px 10px 0px 10px;
    transition-duration: 0.5s;
    position: relative;
    bottom: 300px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
}

.part2
{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:auto;
    margin:50px 0px 60px 0px;
}

.part2 p:nth-child(1)
{
    display:flex;
    font-size: 30px;
    font-family: popins-reg;
    color:black;
    margin:0px auto 0px 25px;
}

.topic
{
    display:flex;
    font-size: 40px;
    font-family: popins;
    color:black;
    margin:50px auto 0px auto;
    background-image: url(3d-1.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    /* background-size: cover; */
    animation: bgchange 2s linear infinite;
}

@keyframes bgchange 
{
    0% {
        background-position: 0% 0%;
    }
    99.9% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }  
}

.learnt 
{
    display:flex;
    margin:20px auto 0px auto;
    width:300px;
    height: auto;
    padding:10px;
    /* background-color: rgb(213, 255, 213);  */
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.learnt img 
{
    display:flex;
    width: 50px;
}

.learnt p
{
    display:flex;
    font-size: 25px;
    font-family: popins-reg;
    color: black;
    margin:auto auto auto 10px;
}

.part3 
{
    display:flex;
    flex-direction: column;
    width:100%;
    height:auto;
    margin:0;
}

.title 
{
    display:flex;
    width:fit-content;
    height:auto;
    margin:0px auto 0px auto;
}

.my 
{
    display:flex;
    font-size:40px;
    font-family: popins;
    color:black;
    margin:0;
}

.title div 
{
    display:flex;
    flex-direction: column;
    width: auto;
    height: 60px;
    margin:0px 0px 0px 15px;
    overflow: hidden;
}

.title div p 
{
    display: flex;
    font-size:40px;
    font-family: popins;
    color:black;
    margin:0;
    color:red;
    animation:slideshow 8s ease-out infinite;
}

@keyframes slideshow 
{
    0% , 100% {transform: translateY(0);}
    20% {transform: translateY(-60px);}
    40% {transform: translateY(-120px);}
    60% {transform: translateY(-180px);}    
    80% {transform: translateY(-240px);}
    99.99% {transform: translateY(-300px);}
}